
/*
  ========================================
  General
  ========================================
*/
body * {
    font-family:"Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
.bg-color0 {
    background-color: #d35749;
}
.bg-color1 {
    background-color: #e17f65;
}
.text-color1 {
    color: #e17f65;
}
.bg-color2 {
    background-color: #98a4a5;
}
.text-color2 {
    color: #98a4a5;
}
.bg-color3 {
    background-color: #509bdb;
}
.text-color3 {
    color: #509bdb;
}
/*
  ========================================
  Navigation Bar
  ========================================
*/

.navigation-bar * {
    color: #feffff;
    
}

.navigation-bar {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap:1rem;
    width: 100%;
}
.navigation-link {
    display: none;
}
.nohover-line a {
    text-decoration: none;
}
/* Media queries*/ 

@media screen and (min-width:768px) {

    .navigation-bar {
        flex-direction: row;
        gap:0rem;
        justify-content: space-between;
      
    }
    .navigation-items {
        margin-right:3rem;
    }
}   

@media screen and (min-width:1024px) {

    .navigation-link {
        display: inline;
    }
    .navigation-bar {
        justify-content: space-between;
      
    }
    .navigation-items {
        margin: 0 
    }
}
/*
  ========================================
  Main
  ========================================
*/

.main {
    background: url(../../assets/images/main.jpg)  no-repeat;
    background-size: cover ;
    height: 500px;
    padding-top: 7.5rem;
    
}


/*
  ========================================
  FOOTER
  ========================================
*/

.footer{
    background-color: #000;
}
.footer-bottom ul {
    margin: 0 
}

.footer-bottom li {
    padding: 0 0.5rem
}
.footer-bottom * {
    color: gray
}
.footer-bottom {
    color: white;
    flex-direction: column;
    gap:0.3rem;
    justify-content: space-between;
    align-items: center;
    background-color: #333232;
    padding: 0.5rem;
}

/* Media queries*/ 

@media screen and (min-width:1024px) {

    .footer-bottom {
        flex-direction: row;
        padding: 1rem 2rem;

    }
  
}
/*
  ========================================
  printers.html
  ========================================
*/

.option-box select{
    height: 2rem;
    
}


