
/*
  ========================================
  General
  ========================================
*/
body * {
    font-family:"Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
/*
  ========================================
  Navigation Bar
  ========================================
*/

.navigation-bar * {
    color: #feffff;
    
}

.navigation-bar {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    background-color: #d35749;
    gap:1rem;
    width: 100%;
}
.navigation-link {
    display: none;
    text-decoration: none;
}
.nohover-line li a {
    text-decoration: none;
}
/* Media queries*/ 

@media screen and (min-width:768px) {

   
    .navigation-bar {
        flex-direction: row;
        gap:0rem;
        justify-content: space-between;
      
    }
    .navigation-items {
        margin-right:3rem;
    }
}   

@media screen and (min-width:1024px) {

    .navigation-link {
        display: inline;
    }
    .navigation-bar {
        justify-content: space-between;
      
    }
    .navigation-items {
        margin: 0 
    }
}
/*
  ========================================
  Main
  ========================================
*/

.main {
    background: url(../../assets/images/img_lights.jpg)  no-repeat;
    background-size: cover ;
    height: 400px;
    
}
.printer-bg-color {
    background-color: #e17f65;
}
.text-color {
    color: #e17f65;
}
.find-bg-color {
    background-color: #98a4a5;
}
.anytime-bg-color {
    background-color: #509bdb;
}
/*
  ========================================
  Search
  ========================================
*/

.option-box select{
    height: 2rem;
    
}